<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>405912176458-4pd320sij7f2vh759v5se081qtol05ed.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.405912176458-4pd320sij7f2vh759v5se081qtol05ed</string>
	<key>API_KEY</key>
	<string>AIzaSyDg-VjlE-HxP16MQ1Xg5XFUUtjTesdjGRw</string>
	<key>GCM_SENDER_ID</key>
	<string>405912176458</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.todoApp</string>
	<key>PROJECT_ID</key>
	<string>flutter-todo-vitor</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-todo-vitor.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:405912176458:ios:5f2d29045142f1bb8423b3</string>
</dict>
</plist>